# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [31]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'dataquest' : 10683,
'udacity' : 11118
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests
from sqlalchemy import create_engine"
from getpass import getpass



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])

    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [32]:
# could you write this as a list comprehension? ;)

comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)


# comments = [get_comments_school(school) for school in schools.keys()]
# comments = pd.concat(comments)

ironhack
app-academy
springboard
dataquest
udacity

In [47]:
#comments
data_types= comments.dtypes
data_types

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni              bool
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore        object
comments            object
overall             object
curriculum          object
jobSupport          object
review_body         object
school              object
dtype: object

In [48]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,302783,Anonymous,True,None,2023.0,False,Tracking specialist,Overall positive,"<span class=""truncatable""><p></p><p>Ironhack w...",<p>Ironhack was a very good experience for me....,...,2023-07-11,Web Development Bootcamp,{'image': None},4.7,[],5.0,5.0,4.0,Ironhack was a very good experience for me. I'...,ironhack
1,302774,Anonymous,True,None,2023.0,False,,Awesome!,"<span class=""truncatable""><p></p><p>My skill l...","<p>My skill level has been enhanced, I met peo...",...,2023-07-11,None,{'image': None},5.0,[],5.0,5.0,5.0,"My skill level has been enhanced, I met people...",ironhack
2,302682,Anonymous,True,None,2023.0,False,,"The bootcamp in general is good, but not worth...","<span class=""truncatable""><p></p><p>For the va...",<p>For the value of 8 thousand euros I expecte...,...,2023-07-07,UX/UI Design Bootcamp,{'image': None},2.7,[],3.0,2.0,3.0,For the value of 8 thousand euros I expected m...,ironhack
3,302245,Anna,False,None,2023.0,False,,The Bootcamp experience was very mixed and the...,"<span class=""truncatable""><p></p><p>Pros: Grou...",<p>Pros: Group work and individual projects Ba...,...,2023-06-22,UX/UI Design Bootcamp,{'image': None},2.0,[],2.0,2.0,2.0,Pros: Group work and individual projects Basic...,ironhack
4,301920,Pedro Dias,False,None,2023.0,False,,"Updated content, great teacher, exciting proje...","<span class=""truncatable""><p></p><p>I had some...",<p>I had some experience coding as a hobby and...,...,2023-06-10,Web Development Bootcamp,{'image': None},4.7,[],5.0,5.0,4.0,I had some experience coding as a hobby and ha...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,239461,Phil anonio,False,None,2017.0,True,None,Worst ever,<p>They are thieves. DO NOT pay them. I made a...,They are thieves. DO NOT pay them. I made a mi...,...,2017-11-09,None,{'image': None},1.0,[],1.0,1.0,1.0,They are thieves. DO NOT pay them. I made a mi...,udacity
1401,236598,Anonymous,True,None,2017.0,True,None,Introduction to Python,"<span class=""truncatable""><p>Pros: (1) self-pa...","Pros: (1) self-paced, (2) context-based, (3) c...",...,2017-06-26,Intro to Computer Science,{'image': None},3.0,[],3.0,4.0,2.0,"Pros: (1) self-paced, (2) context-based, (3) c...",udacity
1402,233529,Anonymous,False,None,2016.0,True,None,Can be improved,"<span class=""truncatable""><p>There's a lot of ...",There's a lot of positives about the Udacity f...,...,2016-12-22,None,{'image': None},3.0,[],3.0,3.0,3.0,There's a lot of positives about the Udacity f...,udacity
1403,233782,Anonymous,False,Data Science,2016.0,True,None,Intro to data science,"<span class=""truncatable""><p>I love Udacity. I...",I love Udacity. I watch many free online cours...,...,2016-05-13,Intro to Computer Science,{'image': None},5.0,[],5.0,NaN,NaN,I love Udacity. I watch many free online cours...,udacity
1404,233333,Anonymous,False,None,2016.0,False,None,Not great...,"<span class=""truncatable""><p>Support is very l...",Support is very limited. Don't think that it'...,...,2016-02-28,None,{'image': None},2.0,[],2.0,NaN,NaN,Support is very limited. Don't think that it's...,udacity

In [54]:
new_comments = comments.drop(["body","rawBody","review_body","comments","user","tagline"], axis=1)
new_comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,school
0,302783,Anonymous,True,None,2023.0,False,Tracking specialist,7/11/2023,2023-07-11,Web Development Bootcamp,4.7,5.0,5.0,4.0,ironhack
1,302774,Anonymous,True,None,2023.0,False,,7/11/2023,2023-07-11,None,5.0,5.0,5.0,5.0,ironhack
2,302682,Anonymous,True,None,2023.0,False,,7/7/2023,2023-07-07,UX/UI Design Bootcamp,2.7,3.0,2.0,3.0,ironhack
3,302245,Anna,False,None,2023.0,False,,6/22/2023,2023-06-22,UX/UI Design Bootcamp,2.0,2.0,2.0,2.0,ironhack
4,301920,Pedro Dias,False,None,2023.0,False,,6/10/2023,2023-06-10,Web Development Bootcamp,4.7,5.0,5.0,4.0,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,239461,Phil anonio,False,None,2017.0,True,None,11/9/2017,2017-11-09,None,1.0,1.0,1.0,1.0,udacity
1401,236598,Anonymous,True,None,2017.0,True,None,6/26/2017,2017-06-26,Intro to Computer Science,3.0,3.0,4.0,2.0,udacity
1402,233529,Anonymous,False,None,2016.0,True,None,12/22/2016,2016-12-22,None,3.0,3.0,3.0,3.0,udacity
1403,233782,Anonymous,False,Data Science,2016.0,True,None,5/13/2016,2016-05-13,Intro to Computer Science,5.0,5.0,NaN,NaN,udacity
1404,233333,Anonymous,False,None,2016.0,False,None,2/28/2016,2016-02-28,None,2.0,2.0,NaN,NaN,udacity

In [55]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="project_two"))
new_comments.to_sql('comments', con = engine, if_exists = 'append', chunksize = 1000)

········

5680

In [16]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

C:\Users\sfsou\AppData\Local\Temp\ipykernel_12096\2307708368.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\sfsou\AppData\Local\Temp\ipykernel_12096\2307708368.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

C:\Users\sfsou\AppData\Local\Temp\ipykernel_12096\2307708368.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

dataquest

C:\Users\sfsou\AppData\Local\Temp\ipykernel_12096\2307708368.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

udacity

C:\Users\sfsou\AppData\Local\Temp\ipykernel_12096\2307708368.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [17]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16378      Online         1     Online       Online        online

       school  school_id
 0  dataquest      10683  ,
       id description  state.id state.name state.abbrev state.keyword   school  \
 0  15807      Online         1     Online       Online        online  udacity

    school_id
 0      11118  ]

In [67]:
locations = pd.concat(locations_list)

locations.rename(columns={'country.id': 'country_id'}, inplace=True)
locations.rename(columns={'country.name': 'country_name'}, inplace=True)
locations.rename(columns={'country.abbrev': 'country_abbrev'}, inplace=True)
locations.rename(columns={'city.id': 'city_id'}, inplace=True)
locations.rename(columns={'city.name': 'city_name'}, inplace=True)
locations.rename(columns={'city.keyword': 'city_keyword'}, inplace=True)
locations.rename(columns={'state.id': 'state_id'}, inplace=True)
locations.rename(columns={'state.name': 'state_name'}, inplace=True)
locations.rename(columns={'state.abbrev': 'state_abbrev'}, inplace=True)
locations.rename(columns={'state.keyword': 'state_keyword'}, inplace=True)

#locations.fillna('', inplace=True, subset=['country_id', 'country_id','country_abbrev','city_id', 'city_name','city_keyword','state_id','state_name','state_abbrev','state_keyword'])

locations

,id,description,country_id,country_name,country_abbrev,city_id,city_name,city_keyword,state_id,state_name,state_abbrev,state_keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15704,"San Francisco, CA, United States",1.0,United States,US,13.0,San Francisco,san-francisco,6.0,California,CA,california,app-academy,10525
1,15705,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,app-academy,10525
2,15862,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,app-academy,10525
0,16013,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,springboard,11035
0,16378,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,dataquest,10683
0,15807,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,udacity,11118

In [64]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="project_two"))
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

········

16

In [19]:
courses = pd.concat(courses_list)
courses.head(10)

                                courses       school  school_id
0               Cyber Security Bootcamp     ironhack      10828
1               Cybersecurity Part-Time     ironhack      10828
2               Data Analytics Bootcamp     ironhack      10828
3              Data Analytics Part-Time     ironhack      10828
4                 UX/UI Design Bootcamp     ironhack      10828
5                UX/UI Design Part-Time     ironhack      10828
6              Web Development Bootcamp     ironhack      10828
7             Web Development Part-Time     ironhack      10828
0  16-week Software Engineering Program  app-academy      10525
1                         Bootcamp Prep  app-academy      10525

In [36]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="project_two"))
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000)

········

62

In [20]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [37]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="project_two"))
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 1000)

········

13

In [40]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.dataquest.io,"<span class=""truncatable""><p>Master data skill...",https://d92mrp7hetgfk.cloudfront.net/images/si...,dataquest,10683
0,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118

In [41]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="project_two"))
schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 1000)

········

5